In [77]:
%%capture
!pip install pymongo pprint dateparser matplotlib pandas sklearn numpy seaborn

In [78]:
import pymongo
import pprint
import dateparser
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

%matplotlib inline

In [79]:
course_cluster_uri = "mongodb://agg-student:agg-password@cluster0-shard-00-00-jxeqq.mongodb.net:27017,cluster0-shard-00-01-jxeqq.mongodb.net:27017,cluster0-shard-00-02-jxeqq.mongodb.net:27017/test?ssl=true&replicaSet=Cluster0-shard-0&authSource=admin"
course_client = pymongo.MongoClient(course_cluster_uri)
titanic = course_client['coursera-agg']['titanic']

In [80]:
initial_project = {
    "$project": {
        "_id": 0,
        "name": 0,
        "point_of_embarkation": 0,
        "ticket_number": 0,
        "passenger_id": 0,
        "cabin": 0,
    }
}

In [81]:
# todo - correct the age.
# *HINT* -- If the $type of "$age" is a string, set it to 0
age_correction = {
    "$cond": { "if": {"$eq": [ {"$type": "$age"}, "string"] }, "then": 0, "else": "$age" }
}

In [82]:
# todo - one hot encode gender_female. 1 if female, 0 if male
one_hot_female = {
    "$cond": { "if": {"$eq": [ "$gender", "female"] }, "then": 1, "else": 0 }
}

In [83]:
# todo - the inverse of above. 1 if male, 0 if female
one_hot_male = {
    "$cond": {"if": {"$eq": [ "$gender", "male"] }, "then": 1, "else": 0 }
}

In [84]:
encoding_stage = {
    "$addFields": {
        "gender_female": one_hot_female,
        "gender_male": one_hot_male,
        "age": age_correction
    }
}

In [85]:
final_project = {
    "$project": {
        "gender": 0
    }
}

In [86]:
pipeline = [initial_project, encoding_stage, final_project]

In [87]:
df = pd.DataFrame.from_dict(list(titanic.aggregate(pipeline)))
df.head(n=200)

,survived,class,age,siblings_spouse,parents_children,fare_paid,gender_female,gender_male
0,0,3,35.0,0,0,8.0500,0,1
1,0,3,22.0,1,0,7.2500,0,1
2,1,3,4.0,1,1,16.7000,1,0
3,1,3,27.0,0,2,11.1333,1,0
4,1,1,35.0,1,0,53.1000,1,0
...,...,...,...,...,...,...,...,...
195,1,3,19.0,1,0,7.8542,1,0
196,0,3,0.0,8,2,69.5500,0,1
197,0,3,28.0,0,0,9.5000,0,1
198,1,3,0.0,0,0,7.7500,1,0
199,0,3,42.0,0,1,8.4042,0,1

In [88]:
X = df.drop('survived', axis=1)

In [89]:
y = df['survived']

In [90]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15)

In [91]:
dtree = DecisionTreeClassifier()

In [92]:
%%capture
dtree.fit(X_train, y_train)

In [93]:
predictions = dtree.predict(X_test)

In [94]:
print(confusion_matrix(y_test, predictions))
print("\n")
print(classification_report(y_test, predictions))

[[74 19]
 [ 9 32]]


              precision    recall  f1-score   support

           0       0.89      0.80      0.84        93
           1       0.63      0.78      0.70        41

    accuracy                           0.79       134
   macro avg       0.76      0.79      0.77       134
weighted avg       0.81      0.79      0.80       134

In [95]:
rfc = RandomForestClassifier(n_estimators=20)

In [96]:
%%capture
rfc.fit(X_train, y_train)

In [97]:
rfc_pred = rfc.predict(X_test)

In [98]:
print(confusion_matrix(y_test, rfc_pred))
print("\n")
print(classification_report(y_test, rfc_pred, target_names=['test', 'predictions']))

[[81 12]
 [12 29]]


              precision    recall  f1-score   support

        test       0.87      0.87      0.87        93
 predictions       0.71      0.71      0.71        41

    accuracy                           0.82       134
   macro avg       0.79      0.79      0.79       134
weighted avg       0.82      0.82      0.82       134

In [99]:
iterations = 1000
dtree_avg_accuracy = 0
rfc_avg_accuracy = 0
for _ in range(iterations):
    dtree.fit(X_train, y_train)
    dtree_avg_accuracy += dtree.score(X_test, y_test)
    rfc.fit(X_train, y_train)
    rfc_avg_accuracy += rfc.score(X_test, y_test)
    
print(f"""
After {iterations} iterations:
  Single Decision Tree accuracy: {dtree_avg_accuracy / iterations}
  Random Forest accuracy:        {rfc_avg_accuracy / iterations}
  
  Lab Answer:  dtree={round(dtree_avg_accuracy / iterations, 2)}, rfc={round(rfc_avg_accuracy / iterations, 2)}
""")

After 1000 iterations:
  Single Decision Tree accuracy: 0.7820000000000049
  Random Forest accuracy:        0.825373134328356

  Lab Answer:  dtree=0.78, rfc=0.83