### Dependencies Installation
Before we get started, let's make sure we have all dependencies installed.

In [1]:
%%capture
! pip3 install pymongo dateparser sklearn pandas numpy pprint scipy matplotlib seaborn mlxtend
%matplotlib inline

# Association Rules

## Importing Necessary Dependencies

In [2]:
# dependencies
import dateparser
import pymongo
import pandas as pd
from sklearn.cluster import KMeans
from sklearn import preprocessing
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
from mlxtend.preprocessing import one_hot
import numpy as np
import json
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style="whitegrid", palette="muted")

### The Initial Setup

We'll create a dataframe with some made up transactions to illustrate the apriori algorithm and association rules. The dictionary key will represent the product bought, and the number will represent the quantity bought.

In [3]:
transactions = [
    {
        "beer": 1,
        "chips": 2,
        "salsa": 1,
    },
    {
        "chips": 1,
        "salsa": 1,
        "chocolate": 3
    },
    {
        "chocolate": 2,
        "diapers": 1,
        "beer": 2
    },
    {
        "chips": 2,
        "salsa": 1,
        "chocolate": 2
    },
    {
        "diapers": 3,
        "chips": 1,
        "salsa": 2,
        "beer": 2
    },
    {
        "diapers": 2,
        "chips": 1,
        "salsa": 1,
        "chocolate": 4,
        "beer": 3
    }
]

In [4]:
transactions = pd.DataFrame.from_dict(transactions)
transactions

   beer  chips  salsa  chocolate  diapers
0   1.0    2.0    1.0        NaN      NaN
1   NaN    1.0    1.0        3.0      NaN
2   2.0    NaN    NaN        2.0      1.0
3   NaN    2.0    1.0        2.0      NaN
4   2.0    1.0    2.0        NaN      3.0
5   3.0    1.0    1.0        4.0      2.0

### Getting rid of NaN Values

We need to get rid of NaN values, so we'll use a utility method from Pandas to replace them with 0.

In [5]:
transactions.fillna(0, inplace=True)
transactions

   beer  chips  salsa  chocolate  diapers
0   1.0    2.0    1.0        0.0      0.0
1   0.0    1.0    1.0        3.0      0.0
2   2.0    0.0    0.0        2.0      1.0
3   0.0    2.0    1.0        2.0      0.0
4   2.0    1.0    2.0        0.0      3.0
5   3.0    1.0    1.0        4.0      2.0

### One-hot Encoding

We need to one hot encode the data, so that 1 means they bought the item and 0 means they didn't. We'll quickly search the dataframe and replace values greater than 1 to 1.

In [6]:
oh = transactions
for column in oh.columns:
    oh.loc[oh[column] > 0, column] = 1
oh

   beer  chips  salsa  chocolate  diapers
0   1.0    1.0    1.0        0.0      0.0
1   0.0    1.0    1.0        1.0      0.0
2   1.0    0.0    0.0        1.0      1.0
3   0.0    1.0    1.0        1.0      0.0
4   1.0    1.0    1.0        0.0      1.0
5   1.0    1.0    1.0        1.0      1.0

### Apriori

The first step is to use the apriori algorithm. This will give us our frequent itemsets and their support.

The support of an itemset is the proportion of transaction in the collection in which the itemset appears. It signifies the popularity of an itemset.

Given the above information, we have 6 transactions. Of those, beer appears in 4 of them. So, we'd expect the itemset `[beer]` to have a support value of `4/6` or `.666666667`.

Going through all of them, we can build itemsets that are just one item and calculate their support.

Now that we have our 1 item itemsets, let's build up our 2 item itemsets. So, if an itemset is [a, b] where a is chips and b is salse, the support is the ratio of the apperance of itemset `[a, b]` in all transactions. We would do this until we have exhausted all possible itemsets.

Also of key importance is being able to define some minimum threshold for which we do not care about that itemset.

For this, we'll use the `apriori` algorithm from `mlxtend`.

In [7]:
assocs = apriori(oh, min_support=0.5, use_colnames=True)

assocs =assocs.sort_values(by='support', ascending=False)
assocs

     support                   itemsets
1   0.833333                    (chips)
2   0.833333                    (salsa)
8   0.833333             (chips, salsa)
0   0.666667                     (beer)
3   0.666667                (chocolate)
4   0.500000                  (diapers)
5   0.500000              (beer, chips)
6   0.500000              (beer, salsa)
7   0.500000            (beer, diapers)
9   0.500000         (chocolate, chips)
10  0.500000         (chocolate, salsa)
11  0.500000       (beer, chips, salsa)
12  0.500000  (chocolate, chips, salsa)

In [8]:
rules = association_rules(assocs, min_threshold=0.5)
with pd.option_context('display.max_rows', None, 'display.max_columns', 5):
    display(rules.sort_values(by='lift', ascending=False))

           antecedents         consequents  ...  leverage  conviction
6               (beer)           (diapers)  ...  0.166667    2.000000
7            (diapers)              (beer)  ...  0.166667         inf
0              (chips)             (salsa)  ...  0.138889         inf
1              (salsa)             (chips)  ...  0.138889         inf
22             (chips)  (chocolate, salsa)  ...  0.083333    1.250000
19  (chocolate, salsa)             (chips)  ...  0.083333         inf
18  (chocolate, chips)             (salsa)  ...  0.083333         inf
17             (salsa)       (beer, chips)  ...  0.083333    1.250000
16             (chips)       (beer, salsa)  ...  0.083333    1.250000
13       (beer, salsa)             (chips)  ...  0.083333         inf
12       (beer, chips)             (salsa)  ...  0.083333         inf
23             (salsa)  (chocolate, chips)  ...  0.083333    1.250000
11             (salsa)         (chocolate)  ... -0.055556    0.833333
9              (chips)         (chocolate)  ... -0.055556    0.833333
14      (chips, salsa)              (beer)  ... -0.055556    0.833333
5              (salsa)              (beer)  ... -0.055556    0.833333
3              (chips)              (beer)  ... -0.055556    0.833333
20      (chips, salsa)         (chocolate)  ... -0.055556    0.833333
10         (chocolate)             (salsa)  ... -0.055556    0.666667
15              (beer)      (chips, salsa)  ... -0.055556    0.666667
8          (chocolate)             (chips)  ... -0.055556    0.666667
4               (beer)             (salsa)  ... -0.055556    0.666667
21         (chocolate)      (chips, salsa)  ... -0.055556    0.666667
2               (beer)             (chips)  ... -0.055556    0.666667

[24 rows x 9 columns]

## Pymongo Setup

In [9]:
# pymongo driver configuration
course_cluster_uri = "mongodb://agg-student:agg-password@cluster0-shard-00-00-jxeqq.mongodb.net:27017,cluster0-shard-00-01-jxeqq.mongodb.net:27017,cluster0-shard-00-02-jxeqq.mongodb.net:27017/test?ssl=true&replicaSet=Cluster0-shard-0&authSource=admin"
course_client = pymongo.MongoClient(course_cluster_uri)
orders = course_client['coursera-agg']['orders']

# Getting our data from MongoDB

We'll need to construct a one-hot encoded dataframe. This means that for every document, convert the information into the purchases array into something like:

```
{
    ...,
    "purchases": [
        {
          "description": "WHITE WIRE EGG HOLDER",
          "quantity": 36,
          "stock_code": "84880",
          "unit_price": 4.95
        },
        {
          "description": "JUMBO  BAG BAROQUE BLACK WHITE",
          "quantity": 100,
          "stock_code": "85099C",
          "unit_price": 1.65
        },
        {
          "description": "JUMBO BAG RED RETROSPOT",
          "quantity": 100,
          "stock_code": "85099B",
          "unit_price": 1.65
        }
      ],
  }
  ```
  into
  ```
{
    "84880": 1,
    "85099C": 1,
    "85099B": 1,
}
```

## The Pipeline

In [10]:
order_projection = {
    "$replaceRoot": {
            "newRoot":  {
                "$arrayToObject": {
                    "$map": {
                        "input": "$purchases",
                        "in": {
                            "k": "$$this.stock_code",
                            "v": 1
                        }
                    }
                }
            }
    }
            
}

print(json.dumps(order_projection, indent=2))

{
  "$replaceRoot": {
    "newRoot": {
      "$arrayToObject": {
        "$map": {
          "input": "$purchases",
          "in": {
            "k": "$$this.stock_code",
            "v": 1
          }
        }
      }
    }
  }
}

# Constructing the Pipeline

That's it! We will use our one stage.

In [11]:
pipeline = [
    order_projection
]

# Constructing the pandas Dataframe from MongoDB

Here you will need to construct the DataFrame. Assign it to the variabled `df` below.

In [12]:
df = pd.DataFrame.from_dict(list(orders.aggregate(pipeline)))
df.head(n=10)

,21756,84879,22745,22749,22748,84969,22623,22622,21755,21754,...,23561,90214F,90214O,90214U,90214T,90214W,90214Z,90089,72783,23843
0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Fixing the NaN values

We will use the Pandas DataFrame [fillna](http://github.com/pandas-dev/pandas/blob/v0.21.0/pandas/core/frame.py#L3029-L3035) method to fill in NaN values for us with 0.

In [13]:
df.fillna(0, inplace=True)
df.head(10)

,21756,84879,22745,22749,22748,84969,22623,22622,21755,21754,...,23561,90214F,90214O,90214U,90214T,90214W,90214Z,90089,72783,23843
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Association

### Apriori
First, we'll use the `apriori` algorithm from `mlxtend` to extract frequent itemsets.

In [14]:
assocs = apriori(df, min_support=0.02, use_colnames=True)

In [15]:
with pd.option_context('display.max_rows', None, 'display.max_columns', 5):
    assocs =assocs.sort_values(by='support', ascending=False)
    display(assocs)

      support               itemsets
9    0.113580               (85123A)
37   0.086912               (85099B)
94   0.084690                (22423)
0    0.078083                (84879)
165  0.077542                (47566)
18   0.067271                (20725)
171  0.060484                (22720)
74   0.059823                (20727)
185  0.058983                (23203)
72   0.057601                (22383)
28   0.056760                (22086)
60   0.056520                (22197)
32   0.056340                (22457)
34   0.055739                (22469)
182  0.054898                (23298)
184  0.053997                (23209)
73   0.052976                (20728)
86   0.052436                (22382)
12   0.051294                (82482)
113  0.051054                (21034)
88   0.050934                (22384)
19   0.050694                (21212)
15   0.048772                (22386)
173  0.047691                (22993)
33   0.047510                (22470)
78   0.047090                (22178)
13   0.047090               (82494L)
56   0.045528                (22727)
29   0.045108                (22960)
138  0.044988                (22666)
25   0.044988                (22411)
178  0.044807                (23206)
189  0.044567                (23301)
172  0.043366                (22138)
14   0.043306                (22961)
23   0.043246                (21931)
186  0.042585                (23202)
67   0.042165                (20914)
175  0.041804                (23201)
201  0.041624                (23355)
27   0.041444                (22726)
41   0.041084                (22139)
101  0.040783                (21790)
116  0.040723                (22699)
59   0.040663                (22910)
87   0.040483                (20726)
136  0.040062                (21181)
43   0.040002                (21175)
3    0.039822                (21754)
153  0.039822                (84946)
64   0.039822                (22112)
187  0.038681                (23084)
6    0.038561                (21733)
112  0.037720                (22077)
188  0.037660                (23300)
177  0.037600                (23199)
16   0.037600               (85099C)
93   0.037360               (85099F)
66   0.037179                (22111)
181  0.037059                (23284)
114  0.036759                (22697)
154  0.036699                (20724)
170  0.035798                (22722)
176  0.035738                (23207)
21   0.035438                (21977)
61   0.035317                (21080)
22   0.035257                (84991)
53   0.034897                (85152)
30   0.034416                (82484)
193  0.034416                (23245)
42   0.034116                (21166)
194  0.034116                (23321)
52   0.033516                (22558)
24   0.033215                (21929)
180  0.033155                (23208)
50   0.032915                (22865)
197  0.032615                (23344)
11   0.032494                (82486)
167  0.032254                (84978)
2    0.032074                (21755)
38   0.031113                (22662)
118  0.030813                (22624)
124  0.030753                (20972)
31   0.030632                (84755)
131  0.030572                (21928)
143  0.030512                (22355)
39   0.030512                (79321)
111  0.030392                (22629)
205  0.030392        (22386, 85099B)
79   0.030212                (20685)
62   0.030212                (21232)
10   0.030092                (82483)
195  0.030092                (23322)
4    0.029912                (48187)
169  0.029611                (22698)
141  0.029491                (22728)
5    0.029371                (22114)
210  0.029071         (20727, 20725)
63   0.029011                (22835)
51   0.028951                (21485)
110  0.028951                (22113)
142  0.028891                (22966)
133  0.028831                (48138)
150  0.028831                (22090)
235  0.028590         (22699, 22697)
164  0.028530                (22621)
20   0.028530                (21975)
213  0.028290         (22384, 20725)
69   0.028230                (84378)
109  0.028050                (22630)
208  0.027990         (22383, 20725)
48   0.027809                (22969)
89   0.027809                (22467)
49   0.027629                (22866)
96   0.027629                (84836)
57   0.027569                (22867)
75   0.027509                (21915)
242  0.027509         (23300, 23301)
204  0.027509        (82494L, 82482)
218  0.027269         (22726, 22727)
125  0.027149                (22907)
80   0.027089                (48194)
129  0.027029                (21930)
98   0.027029                (22909)
134  0.026969                (22659)
68   0.026909                (84380)
224  0.026788         (22383, 20727)
71   0.026668                (84992)
17   0.026608                (20723)
231  0.026548         (22384, 20727)
70   0.026548                (21213)
8    0.026308                (22633)
219  0.026248         (22086, 22910)
121  0.026128                (22577)
102  0.026068                (22149)
35   0.026008                (22189)
100  0.025887                (21791)
76   0.025827                (21914)
97   0.025827                (22952)
203  0.025827        (21733, 85123A)
222  0.025827        (23203, 85099B)
174  0.025707                (22998)
200  0.025707                (23356)
81   0.025647                (22766)
140  0.025647                (20971)
147  0.025467                (84077)
191  0.025467                (23307)
183  0.025467                (23200)
55   0.025467                (22730)
163  0.025227                (85066)
156  0.025167                (22356)
99   0.025107                (22147)
44   0.025047                (22083)
126  0.024986                (22776)
223  0.024926         (20728, 22383)
151  0.024866                (22385)
36   0.024806                (22427)
209  0.024806         (20728, 20725)
47   0.024746                (21889)
211  0.024626         (20725, 22382)
216  0.024506        (21931, 85099B)
225  0.024446         (22383, 22382)
106  0.024446                (22557)
107  0.024266                (22551)
236  0.024266         (22697, 22698)
227  0.024146         (20728, 20727)
139  0.024086                (22578)
166  0.024086                (82600)
241  0.023965         (23202, 23203)
220  0.023905         (22470, 22469)
229  0.023785         (22384, 20728)
90   0.023725                (22568)
221  0.023725       (85099B, 85099F)
240  0.023545         (23209, 23203)
58   0.023485               (84970S)
230  0.023365         (20727, 22382)
199  0.023245                (23293)
137  0.023185                (22667)
95   0.023125                (22144)
237  0.023004         (22699, 22698)
158  0.022944                (20719)
115  0.022824                (21621)
215  0.022764         (23209, 20725)
85   0.022704                (22804)
207  0.022644        (85099B, 20725)
127  0.022584                (22193)
108  0.022524                (22554)
161  0.022524                (82583)
46   0.022404                (22150)
82   0.022404                (22553)
217  0.022404        (22411, 85099B)
26   0.022344                (22379)
92   0.022284                (20713)
192  0.022284                (23240)
84   0.022284                (82580)
155  0.022224                (22084)
190  0.022224                (23263)
105  0.022103                (22367)
226  0.022043         (22384, 22383)
130  0.022043                (20712)
196  0.022043                (23343)
1    0.021983                (22749)
162  0.021983                (21174)
212  0.021863         (20726, 20725)
145  0.021863                (22617)
149  0.021863                (82582)
228  0.021803         (20728, 22382)
104  0.021743                (22616)
202  0.021623                (23439)
65   0.021563                (21479)
238  0.021563         (47566, 23298)
159  0.021563                (71459)
152  0.021503               (47591D)
45   0.021503                (21523)
117  0.021503                (22625)
146  0.021443                (21172)
128  0.021443                (22191)
234  0.021142         (22699, 22423)
148  0.021142                (22561)
160  0.021142                (21908)
132  0.021142                (21524)
135  0.021082                (21231)
83   0.021082                (85150)
77   0.021082                (84375)
119  0.020842                (22487)
206  0.020842       (85099B, 85099C)
232  0.020782         (20726, 22382)
198  0.020722                (23313)
239  0.020722         (23209, 23206)
7    0.020662                (22632)
168  0.020662               (84596B)
120  0.020542                (21985)
243  0.020482  (22699, 22697, 22698)
157  0.020422                (20718)
54   0.020422                (22652)
122  0.020362                (21843)
179  0.020302                (23204)
91   0.020241                (22900)
40   0.020181                (21731)
144  0.020121                (21136)
233  0.020061         (22384, 22382)
103  0.020061                (22750)
214  0.020001         (23206, 20725)
123  0.020001               (84997D)

## Association Rules

Now we form the association rules. Try adjusting the `min_threshold` along with the `metric` to find interesting associations. For example, which class appears to be highly associated with `parents_children`? Go back and add a one-hot encoding function for `parents_children` and see if the results are more clear.

In [16]:
rules = association_rules(assocs, metric="lift", min_threshold=3)

In [17]:
with pd.option_context('display.max_rows', None, 'display.max_columns', 5):
    display(rules.sort_values(by='lift', ascending=False))

       antecedents     consequents  ...  leverage  conviction
77  (22699, 22698)         (22697)  ...  0.019636    8.783841
80         (22697)  (22699, 22698)  ...  0.019636    2.206352
76  (22699, 22697)         (22698)  ...  0.019635    3.421518
81         (22698)  (22699, 22697)  ...  0.019635    3.150691
36         (22697)         (22698)  ...  0.023177    2.855182
37         (22698)         (22697)  ...  0.023177    5.335706
79         (22699)  (22697, 22698)  ...  0.019494    1.963050
78  (22697, 22698)         (22699)  ...  0.019494    6.151553
4          (22699)         (22697)  ...  0.027093    3.233057
5          (22697)         (22699)  ...  0.027093    4.316746
52         (22699)         (22698)  ...  0.021799    2.230249
53         (22698)         (22699)  ...  0.021799    4.299304
11         (23301)         (23300)  ...  0.025831    2.514283
10         (23300)         (23301)  ...  0.025831    3.544712
15         (22727)         (22726)  ...  0.025382    2.390084
14         (22726)         (22727)  ...  0.025382    2.790617
13         (82482)        (82494L)  ...  0.025094    2.055013
12        (82494L)         (82482)  ...  0.025094    2.281550
20         (22086)         (22910)  ...  0.023940    1.784593
21         (22910)         (22086)  ...  0.023940    2.660722
72         (20726)         (22382)  ...  0.018659    1.947129
73         (22382)         (20726)  ...  0.018659    1.589485
40         (23202)         (23203)  ...  0.021454    2.152198
41         (23203)         (23202)  ...  0.021454    1.612661
42         (22470)         (22469)  ...  0.021257    1.900535
43         (22469)         (22470)  ...  0.021257    1.667755
45         (20728)         (22384)  ...  0.021087    1.722379
44         (22384)         (20728)  ...  0.021087    1.776717
18         (22384)         (20727)  ...  0.023501    1.963719
19         (20727)         (22384)  ...  0.023501    1.706263
75         (23206)         (23209)  ...  0.018302    1.759895
74         (23209)         (23206)  ...  0.018302    1.550033
6          (22384)         (20725)  ...  0.024864    2.098021
7          (20725)         (22384)  ...  0.024864    1.637833
27         (22383)         (20728)  ...  0.021875    1.669478
26         (20728)         (22383)  ...  0.021875    1.779863
35         (22382)         (22383)  ...  0.021426    1.765481
34         (22383)         (22382)  ...  0.021426    1.646222
62         (20726)         (20725)  ...  0.019140    2.027933
63         (20725)         (20726)  ...  0.019140    1.421507
65         (22382)         (20728)  ...  0.019025    1.621082
64         (20728)         (22382)  ...  0.019025    1.610312
17         (20727)         (22383)  ...  0.023343    1.706599
16         (22383)         (20727)  ...  0.023343    1.757562
38         (20728)         (20727)  ...  0.020976    1.727574
39         (20727)         (20728)  ...  0.020976    1.587939
61         (22383)         (22384)  ...  0.019110    1.537423
60         (22384)         (22383)  ...  0.019110    1.661443
83         (22382)         (22384)  ...  0.017391    1.537170
82         (22384)         (22382)  ...  0.017391    1.563297
51         (22382)         (20727)  ...  0.020228    1.695814
50         (20727)         (22382)  ...  0.020228    1.554817
49         (23203)         (23209)  ...  0.020360    1.574533
48         (23209)         (23203)  ...  0.020360    1.668589
47        (85099F)        (85099B)  ...  0.020478    2.501941
46        (85099B)        (85099F)  ...  0.020478    1.324088
3          (20725)         (20727)  ...  0.025046    1.655657
2          (20727)         (20725)  ...  0.025046    1.814449
8          (22383)         (20725)  ...  0.024115    1.814375
9          (20725)         (22383)  ...  0.024115    1.613894
0          (22386)        (85099B)  ...  0.026153    2.422965
1         (85099B)         (22386)  ...  0.026153    1.462728
31         (22382)         (20725)  ...  0.021099    1.758687
30         (20725)         (22382)  ...  0.021099    1.494750
29         (20725)         (20728)  ...  0.021243    1.500236
28         (20728)         (20725)  ...  0.021243    1.754087
84         (23206)         (20725)  ...  0.016987    1.684784
85         (20725)         (23206)  ...  0.016987    1.359359
33        (85099B)         (21931)  ...  0.020747    1.332457
32         (21931)        (85099B)  ...  0.020747    2.107126
70        (85099B)        (85099C)  ...  0.017574    1.265994
71        (85099C)        (85099B)  ...  0.017574    2.048720
55         (20725)         (23209)  ...  0.019132    1.429856
54         (23209)         (20725)  ...  0.019132    1.612544
68         (22699)         (22423)  ...  0.017694    1.903621
69         (22423)         (22699)  ...  0.017694    1.278431
22         (21733)        (85123A)  ...  0.021448    2.684346
23        (85123A)         (21733)  ...  0.021448    1.244409
59        (85099B)         (22411)  ...  0.018494    1.286688
58         (22411)        (85099B)  ...  0.018494    1.818890
67         (23298)         (47566)  ...  0.017306    1.519147
66         (47566)         (23298)  ...  0.017306    1.309149
25        (85099B)         (23203)  ...  0.020701    1.338891
24         (23203)        (85099B)  ...  0.020701    1.624370
56        (85099B)         (20725)  ...  0.016797    1.261363
57         (20725)        (85099B)  ...  0.016797    1.376391

[86 rows x 9 columns]

In [18]:
query = {
    "$match": {
        "_id.stock_code": { "$in": ["22697", "22698", "22699"]}
    }
}

project = {
    "$project": { "_id": 0, "purchases.stock_code": 1, "purchases.description": 1}
}

pipeline = [
    {
        "$unwind": "$purchases"
    },
    {
        "$group": {
            "_id": {
                "stock_code": "$purchases.stock_code",
                "description": "$purchases.description"
            }
            
        }
    },
    query
]
display(list(orders.aggregate(pipeline)))

[{'_id': {'stock_code': '22699',
   'description': 'ROSES REGENCY TEACUP AND SAUCER'}},
 {'_id': {'stock_code': '22697',
   'description': 'GREEN REGENCY TEACUP AND SAUCER'}},
 {'_id': {'stock_code': '22698',
   'description': 'PINK REGENCY TEACUP AND SAUCER'}}]